p {
	font-family: Georgia, serif;
}


.input,
.msg .area {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 25px;
	border: 2px solid red;
	font-size: 14px;
	border-radius: 5px;
	outline: none;
}

.login .input {
	width: 48%;
	float: left;
	margin-right: 4%;
}

.login .input:last-child {
	margin-right: 0;
}

.msg .area {
	height: 200px;
}

.btn {
	width: 250px;
	background: red;
	height: 60px;
	line-height: 50px;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 20px;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
}

.input:focus,
.msg .area:focus {
	border: 2px solid yellow;
}


.jumbotron {
	background-image: url("https://i.ibb.co/WzrJbRP/pile-of-red-and-green-chili-peppers-2893882.jpg");
	background-size: cover;
}

.banner-1{
	color: yellow;
	font-family: "Great Vibes", cursive;
	font-size: 75px;
	line-height: 70px;
	font-weight: bolder;
	text-align: center;
	text-shadow: 0 5px 5px red;
}



.social:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.social {
	-webkit-transform: scale(0.8);
	/* Browser Variations: */

	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
