h1, p{
	font-family: Georgia, serif;
}


.input,
.msg .area{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 25px;
	border: 2px solid #e9eaea;
	font-size: 14px;
	border-radius: 5px;
	outline: none;
}

.login .input{
	width: 48%;
	float: left;
	margin-right: 4%;
}

.login .input:last-child{
	margin-right: 0;
}

.msg .area{
	height: 200px;
}

.btn{
	width: 250px;
	background: #486255;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 5px;
	margin: 0 auto;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}

.input:focus,
.msg .area:focus{
	border: 2px solid #486255;
}

::-webkit-input-placeholder{
	font-family: Georgia, serif;
}